*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
}

html, body {
    background-color: #F2EDC2;
    display:flex;
    flex-wrap: wrap;
}

.container-todo {
    width: 500px;
    height: 500px;
    padding: 20px;
    margin: 10px;
    background-color: #9FCB98;
    border: 4px inset #346739;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container-todo button{
    padding: 5px;
    cursor: pointer;
    border: none;
}

.container-todo input{
    padding: 15px;
    border: none;
    margin-bottom: 20px;
}

#submitButton:hover{
    background-color: lightgray;
}

#taskList{
    list-style-type: none;
    padding: 0;
}

.task{
    background-color: #79AE6F;
    color: black;
    padding: 3px;
    border-bottom: 3px dashed #346739;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;

}

.task p{
    order: 2;
}

.completed p{
    text-decoration: line-through;
}

.complete-btn{
    background-color: green;
    color: white;
    padding: 2px;
    order: 1;
}

.complete-btn:hover{
    background-color: darkgreen;
}

.remove-btn{
    order: 3;
    background-color: #C44545;
    color: white;
}

.remove-btn:hover{
    background-color: darkred;
}

/*calculator*/

.container-calc {
    width: 350px;
    padding: 25px;
    background-color: #9FCB98;
    border: 4px inset #346739;
    margin: 10px;
}

.container-calc input{
    width: 100%;
    font-size: 2.2rem;
    padding: 15px;
    text-align: right;
    border: none;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: white;
}


.calc-buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.calc-buttons button{
    font-size: 1.6rem;
    padding: 15px;
    cursor: pointer;
}
.calc-buttons button:hover{
    background-color: lightgray;
}